<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A little about me</h2>
                    <h3 class="section-subheading text-muted">Junior Developer craves growth</h3>
                </div>
            </div>
            
            <img class="img-responsive rounded mx-auto d-block" src="img/about/about-image.jpg" style="width: 90%; margin: 0 auto 3% auto;" alt="profile-picture">
            
            <div class="row">
                <h4 class="service-heading">College Student &amp; Junior Developer</h4>
                <p>
                    In Conestoga College, I have studied Computer Programming and Analysis that is a three-year advanced diploma program in which students learn the latest skills needed by developers in industry. The Program emphasizes problem-solving skills using the latest versions of Microsoft, Oracle, Java and open-source software to develop enterprise, internet and mobile applications. Also, Object-oriented analysis, design, agile methodologies and programming techniques are mastered and applied throughout the program.
                    I'm learning through a combination of theory and practice, applying their knowledge to hands-on assignments and challenging projects. <br/>
                    All of these skills are then applied to a capstone group project in the last term in which students can build a major business application for a local business, providing them with a realistic, practical experience.
                    I mainly specialise in <code>Javascript</code>, <code>Node.js</code>, <code>C# Windows Form</code>, <code>C# .NET Framework</code> and <code>C</code>.<br />
                    Additionally, I also have experience covering the full-stack, from building hair salon reservation website with wordpress and website hosting service, creating a client data management application with C# Windows Forms, and more.
                </p>
            
                <div class="text-center">
                    <a href="#resume" class="btn btn-xl">Junseo Yang's Resume</a>
                </div>
            </div>    
        </div>
    </section>
